<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page-head('Users')}"></head>
<body>
<div th:replace="~{navigation :: menu}"></div>
<div class="container-fluid">
    <div class="text-center">
        <h3>List of users</h3>
    </div>
    <div th:if="${message1 != null}" th:text="${message1}" class="alert alert-danger"></div>
    <div th:if="${message2 != null}" th:text="${message2}" class="alert alert-success"></div>
    <div th:if="${message3 != null}" th:text="${message3}" class="alert alert-danger"></div>
    <div th:if="${message != null}" th:text="${message}" class="alert alert-success"></div>
    <div>
        <a class="btn btn-secondary mb-2" th:href="@{/users/new}">Add user</a>
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Roles</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.roles}"></td>
                    <td>
                        <a class="btn btn-danger" data-bs-target="#myconfirm" data-bs-toggle="modal"
                           th:attr="data-bs-link=@{users/delete(userId=${user.id})}, data-bs-text=${user.email}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticWarningLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="staticWarningLabel">Warning</h2>
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        You are about to delete user with email <span style="color: red;" id="user-txt" class="span-txt">user</span><br/>
                        If you click delete, this <i style="color: red">cannot be undone</i>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger delete-button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
<script th:src="@{/js/deleteConfirmationUser.js}"></script>
</body>
</html>